r 	 = #e6482a
r2 	 = #e9452e
back = #353b4e
b    = #fff
a    = #416db6
a2   = #717fc0
n    = #000


article
	padding-left .5rem
body.secc
	color n

.logo2
	margin 0 
.publi-1CC
	font-size 1.5rem
	background red
	padding .5rem
	opacity .6
	margin-left 1rem

.header2
	justify-content flex-end
	align-self flex-start
.back-icon
	background a2
	border-radius 10px
	left 5px
	padding .1rem 0
	top 15px
	
.requisitos-h1
.documentacion-h1
.direccion-h1
		border-bottom 1px solid r
.documentacion-li
		font-size 1rem
		margin .2rem
// requisitos 30

.secc-h1
	background a
	color b 
	font-size 1.8rem
	height 2.5rem
	line-height 2.5rem
	text-align center
.sub-menu
	border-bottom 1px solid r2
	padding-bottom .2rem
.sub-menu-h2
	font-size 1.2rem
	height 35px
	line-height 35px
	text-decoration underline