@import url(http://fonts.googleapis.com/css?family=Nunito:400,700);
@import "normalize.styl"
@import "nib"
@import "style.styl"
@import "estilos-secc.styl"


r 	 = #e6482a
r2 	 = #e9452e
back = #353b4e
b    = #fff
a    = #416db6
a2   = #717fc0
n    = #000

// flex()
   // -webkit-box-flex arguments
   // -moz-box-flex arguments
   // -ms-flex arguments
   // flex arguments
a
	color b 
body
	color b
	font-family Nunito
	font-size 16px
body.home
	background back
	background url('../img/background-p.jpg')
	background-repeat no-repeat 
	background-position center center 
	background-attachment fixed
	background-size cover	


h1
	margin 0
h2.home
	cursor pointer	
	font-weight 400
	height 45px
	line-height 45px
	margin 0
	padding-right 2.5rem
	position relative
	text-align right
	

// img
	// max-width 100%
	// height 100%
input
	width 75%
	align-items baseline
	margin-bottom .5rem
	background b
	border 2px solid a
	height 1.8rem
	
li.h0

	list-style none
	font-size 1.5rem
	padding 1rem
	
nav.h0
	ul
		flex-wrap wrap
		
				
ul	
	margin 0
	padding 0
	
nav.h0
	ul
		li			
			padding 1.2rem
			list-style none
			a 
				font-size 1.2rem
		
.back-r
	background r
.back-r2
	background r2
.back-a 
	background a
.back-a2
	background a2
.back-n
	background n
.flex
   display flex
   flex-flow row
   flex-wrap nowrap  
   align-items center
   // vertical-align middle
.flex-jc-sa
	justify-content space-around
.flex-jc-c
	justify-content center
.footer	
	background back
	color b
	height 50px
	line-height 50px
	font-size .8rem
	padding-left .5rem
.footer a	
	margin-left 2rem
.footer p 
	display inline-block
	margin 0
	
	

.h0 
	height 0
	// font-size 0px
	// display none	
	overflow hidden
	transition 1s
	background n
	
	

		
.h100	
	height 200px	
	// display block
	transition 1s
.header
	flex-flow column
	justify-content space-around 
	text-align center	
.logo
	margin-bottom 0
.menu
	background n
	border-bottom 3px solid b
	color #000
	left -100%
	position absolute
	top 60px
	transition .5s
	width 80%
	z-index 11
	
.menu-activo
	left 0
.menu-font-gris
	color #F2F2F2

	
.menu-li	
	border-bottom 1px solid a2
	color b
	font-size 1rem
	margin .2rem 1rem 
	padding 1rem
	list-style none
	&:last-child
		background b
		color n
		cursor pointer
		font-weight 600
		margin 1rem auto
		padding 0 
		text-align center
		width 50%
// .menu-ul
	// flex-wrap wrap
	

	
		
.publi1
.publi2
.publi3
.publi4
	font-size 1.5rem
	// margin-top 2rem
	color n
	background b
	opacity .6
	padding .5rem 0
	width 95%
.publi1
	margin-left 100px
.publi2
	width 100%
.publi3
.publi4
	margin-top 2rem

.search-form
	flex-wrap nowrap
	
.search-title
	font-size 2rem
	height 35px
	margin .5rem 0 0 0
.sponsor-abajo
	margin-bottom 1rem
	text-align center
.square		
	bottom -15
	height 15px
	position absolute
	right 15px
	width 15px
	z-index 10
.submit
	background a2
	border-bottom 5px solid a
	color b
	width 24%
	font-size .8rem
	font-weight 700
	height 2.2rem
	padding-right .5rem
.wrap	
	margin 0 auto
	width 95%	
	
	
@media screen and (min-width: 400px)

	body.home
		background url('../img/background-m.jpg')
		background-repeat no-repeat 
		background-position center center 
		background-attachment fixed
		background-size cover
	h2
		height 40px
		line-height 40px
	.menu	
		width 50%
	
	.wrap	
		width 80%

@media screen and (min-width: 490px)

	.flex	 
	   flex-flow column
	.menu	
		width 40%
	.search-form
		flex-flow row
		
@media screen and (min-width: 600px)

	body.home
		background url('../img/background.jpg')
		background-repeat no-repeat 
		background-position center center 
		background-attachment fixed
		background-size cover
	// .menu	
		// width 25%