@import url(http://fonts.googleapis.com/css?family=Nunito:400,700);
@import "nib"

r 	 = #e6482a
r2 	 = #e9452e
back = #353b4e
b    = #fff
a    = #416db6
a2   = #717fc0
n    = #000

// flex()
   // -webkit-box-flex arguments
   // -moz-box-flex arguments
   // -ms-flex arguments
   // flex arguments
a
	color b 
body
	background back
	background url('../img/background-p.jpg')
	background-repeat no-repeat 
	background-position center center 
	background-attachment fixed
	background-size cover
	
	color b
	font-family Nunito
	font-size 16px
h1
	margin 0
	
	
	
	
h2
	cursor pointer	
	font-weight 400
	height 45px
	line-height 45px
	margin 0
	padding-right 2.5rem
	position relative
	text-align right
	
header
	text-align center
// img
	// max-width 100%
	// height 100%
input
	width 75%
	align-items baseline
	margin-bottom 2rem
	background b
	border 2px solid a
	height 1.8rem
	
li
	list-style none
	font-size 1.5rem
	padding 1rem
	
ul	
	margin 0
	padding 0

.back-r
	background r
.back-r2
	background r2
.back-a 
	background a
.back-a2
	background a2
.back-n
	background n
.flex
   display flex
   flex-flow row
   flex-wrap wrap
   justify-content space-around 	
.h0 
	height 0
	// font-size 0px
	// display none
	
	overflow hidden
	transition 1s
	
.h100
	
	height 200px
	
	// display block
	transition 1s	
.search-form
	flex-wrap nowrap
.search-title
	font-size 2.5rem
.square		
	bottom -15
	height 15px
	position absolute
	right 15px
	width 15px
	z-index 10
.submit
	background a2
	border-bottom 5px solid a
	color b
	width 24%
	font-weight 700
	height 2.2rem
	padding-right .2rem
.wrap	
	margin 0 auto
	width 95%	
	
	
@media screen and (min-width: 400px)

	body
		background url('../img/background-m.jpg')
		background-repeat no-repeat 
		background-position center center 
		background-attachment fixed
		background-size cover
	h2
		height 40px
		line-height 40px
	.wrap	
		width 80%
		
@media screen and (min-width: 600px)

	body
		background url('../img/background.jpg')
		background-repeat no-repeat 
		background-position center center 
		background-attachment fixed
		background-size cover