r 	 = #e6482a
r2 	 = #e9452e
back = #353b4e
b    = #fff
a    = #416db6
a2   = #717fc0
n    = #000


.logo2
	margin 0 
.publi-1CC
	font-size 1.5rem
	background red
	padding .5rem
	opacity .6
	margin-left 1rem

.header2
	justify-content flex-end
	align-self flex-start
.back-icon
	background a2
	border-radius 10px
	left 5px
	padding .1rem 0
	top 5px